<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
    <meta charset="utf-8">
    <title>Votre Banque</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Consultation d'un compte</div>
                <div class="panel-body">
                    <form th:action="@{/consultercompte}" method="get">
                        <div>
                            <label>Code Cpte:</label>
                            <input type="text" name="codeCompte"/>
                            <button type="submit" class="btn btn-primary">Ok</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Informations sur le compte</div>
                <div class="panel-body"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Opérations sur le compte</div>
                <div class="panel-body"></div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Liste des opérations</div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</body>
</html>